@layer base {
  :root {
    /* Text Color */
    --color-text-primary: 48 48 48; /* #303030 */
    --color-text-secondary: 92 92 92; /* #5c5c5c */
    --color-text-secondary-alt: 199 199 199; /* #C7C7C7 */
    --color-text-muted: 151 151 151; /* #979797 */
    --color-text-muted-alt: 121 121 121; /*#797979 */
    --color-text-primary-alt: 35 35 35; /* #232323 */
    --color-text-invert: 255 255 255; /* #ffffff */
    --color-text-invert-alt: 231 231 231; /* #E7E7E7 */
    --color-text-accent: 219 1 93; /* #DB015D */
    --color-text-warning: 238 156 15; /* #EE9C0F */
    --color-text-success: 14 143 20; /* #0e8f14 */

    /* Background Color */
    --color-bg-online-green: 14 143 20; /* #0e8f14 */
    --color-bg-ofline-red: 228 44 39; /* #E42C27 */
    --color-bg-primary: 255 255 255; /* #ffffff */
    --color-bg-light: 238 238 238; /* #EEEEEE */
    --color-bg-popup-overlay: 30 33 34; /* #1E2122 */
    --color-bg-info: 220 10 94; /* #DC0A5E */
    --color-bg-muted: 151 151 151; /* #979797 */
    --color-bg-yahoo: 105 41 137; /* #692989 */
    --color-bg-outlook: 0 109 188; /* #006DBC */

    /* Border Color */
    --color-border-primary: 199 199 199; /* #C7C7C7 */
    --color-border-info: 255 6 66; /* #FF0642 */
    --color-border-primary-alt: 48 48 48; /* #303030 */

    /* Ring Color */
    --color-ring-primary: 234 18 114; /* #EA1272 */

    /* Placeholder Color */
    --color-placeholder-primary: 132 132 132; /* #848484 */

    /* Gradient Color */
    --gradient-bg-1: linear-gradient(
      91.25deg,
      #ff0642 0.19%,
      #ea0038 0.2%,
      #da0161 100%
    );
    --gradient-bg-2: linear-gradient(91.26deg, #ff0642 2.85%, #ea1272 100%);

    --gradient-bg-3: linear-gradient(
      90deg,
      #dc0a5e 0%,
      rgba(220, 10, 94, 0.5379) 75.3%,
      rgba(238, 238, 238, 0) 100%
    );
    --gradient-bg-4: linear-gradient(
      90deg,
      rgba(238, 238, 238, 0) 0%,
      rgba(220, 10, 94, 0.5379) 14.37%,
      #dc0a5e 100%
    );

    --gradient-bg-5: linear-gradient(90deg, #ffb906 100%, #ea9412 100%);
    --gradient-bg-home-login: linear-gradient(
      0deg,
      #eeeeee 0.72%,
      #eeeeee 76.83%,
      rgba(18, 17, 17, 0.5) 88.09%,
      rgba(18, 17, 17, 0) 99.22%
    );
  }
}
